*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #f1f1f1;
    height: auto;
}

.container{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 1200px;
    background-image: url('assets/home.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin-bottom: 20px;
}

.nav{
    /* max-width: 1400px; */
    margin: 0 auto;
}
.nav{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: end;
}

.nav-link{
    color: rgb(20, 15, 15);
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;             /*centrado verticalmente en el nav*/
    text-transform: uppercase;      /*para que todo quede en mayuscula*/
    width: max-content;             /*para que cuando la pantalla es chica no me corte el about us (esta compuesto por dos palabras, entonces las corta)*/
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
    transition: .5s;
}

.nav-menu-link:hover{
    background-color: #0033998f;
    border-radius: 8px;
}

.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 200px;
    cursor: pointer;
    display: none;              /*para que cuando este en la version destok no aparezca*/
}

.main{
    margin-top: 100px;
    width: 100%;
    height: auto;
}
.identy{
    text-align: center;
}
.container-identy{
    padding: 10px 20%;
}
.identy-text{
    font-family: "Raleway", sans-serif;
    color:#003399;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
}

.action{  
    margin-top: 200px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}
.action-container{
    width: 90%;
    display: flex;
}
.imagen1{
    height: 100%;
    width: 70%;
    /* width: 50%; */
    background-image: url('assets/actionx600.jpg');
    /* background-position: center center; */
    /* background-size: cover; */
    background-repeat: no-repeat;
}
 .text h2{
    font-family: "Roboto", sans-serif ;
    font-weight: 700;
    font-size: 36px;
    
}
.action-text{
    padding: 20px 0;
    font-size: 20px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
}
.text a{
    padding: 0.75rem 1.5rem;
    background-color:#004aad ;
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
}

.text a:hover{
    background-color: #003399;

}

/*----------------------------------------------------------------------seccion Contacto------------------------------------------------------------------------------*/

.form{
    height: auto;
    width: auto;
    margin-top: 50PX;
}
.form-cont{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: auto auto; 
}

.contacto h3{
    font-weight: 500;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    color:#2c3e50 ;
    margin-bottom: 20px;
    line-height: 1.4;
}

canvas{
    width: 100% !important; /* Asegura que el lienzo ocupe todo el ancho del contenedor */
    height: 100% !important; /* Asegura que el lienzo ocupe todo el alto del contenedor */
    display: block;  /* Elimina cualquier espacio extra debajo del lienzo */
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.foco {
    position: relative; /* Esto es necesario para que los iconos se ubiquen dentro de este contenedor */
    width: 50%;
    height: auto;
    margin: 50px 10px 50px 0;
}

.contenedor {
    position: absolute; /* Para ubicar los iconos dentro del contenedor de Three.js */
    bottom: -70px; /* Ajusta este valor según el tamaño del foco para colocar los iconos debajo */
    left: 50%;
    transform: translateX(-50%); /* Centra los iconos horizontalmente */
    display: flex;
    justify-content: center; /* Centra los iconos horizontalmente */
    gap: 20px; /* Espacio entre los iconos */
    z-index: 10; /* Asegura que los iconos estén por encima del foco (sin interferir en el renderizado 3D) */
}

.icono {
    width: 50px; /* Tamaño de los iconos */
    height: 50px; /* Tamaño de los iconos */
    object-fit: contain; /* Mantiene la proporción de los iconos */
}



.contact-form {
    padding: 30px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 50px 0 50px 10px;
    width: 50%;
  }
  
  .contact-form h2 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  .contact-form p {
    font-size: 1.1em;
    margin-bottom: 20px;
    color: #555;
  }
  
  /* Input and textarea fields */
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
  }
  
  .contact-form input:focus,
  .contact-form textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  /* Labels */
  .contact-form label {
    font-size: 1em;
    color: #333;
    margin-bottom: 5px;
    display: block;
  }
  
  /* Consent checkboxes */
  .contact-form div {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
/* Optional: To make checkbox smaller */
  .contact-form div input[type="checkbox"] {
    width: 20px;
    height: 20px;
  }
  
  .contact-form div label {
    font-size: 14px;
    color: #555;
    display: inline-block;
    margin: 0;
  }
  
  /* Submit Button */
  .contact-form button {
    padding: 12px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    width: 100%;
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  .contact-form button:focus {
    outline: none;
  }
  

/*-----------------------------------------------------------------------------Seccion2------------------------------------------------------------------------------*/

.servicio2{
    margin: 0;
    width: 100%;
    height: auto;
    background-color: #f1f1f1;
    padding-bottom: 20px;
}
.contenedor-seccion2{
    display: flex;
    text-align: center;
    align-items: center;
}

.texto1{
    width: 50%;
    padding-top: 40px;
}
.texto1 h2{
    padding-top: 15px;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
    padding-bottom: 5px;
}
.texto1 p{
    padding-top: 20px;
    padding-left: 50px;
}
.texto2{
    width: 50%;
    padding-top: 20px;
}
.texto2 h2{
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 1.8em;
    padding-bottom: 5px;
}
.texto2 p{
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
}
.parrafo{
    color: #0c0c0c;
    text-align: justify;
    background: transparent;
    line-height: 1.7em;
    font-weight: 500;
}

/*--------------------------------------------------------------------------FOOTER----------------------------------------------------------------------------------------*/
  
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
    &:hover .group {
      animation-play-state: paused;
    }
  }
  
  .card {
    width: 100%;
    height: 200px;
    display: flex;  /* Usar flexbox en lugar de solo text-align */
    justify-content: center;  /* Centra la imagen horizontalmente */
    align-items: center;      /* Centra la imagen verticalmente */
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    min-height: 200px;
    overflow: hidden;  /* Asegura que el contenido no se desborde */
  }
  

  
  .group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 10s linear infinite;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  footer{
    background-color: black;
    height: 30px;
  }
  .copy{
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    line-height: 30px;
  }


  /*--------------------------------------------------------------------ESTERILIZANDO----------------------------------------------------------------------*/



 @media (max-width: 768px){
    .nav-menu{
        z-index: 7;
        flex-direction: column;             /*un elemento encima del otro*/
        align-items: center;
        margin-right: 40px;
        background-color: #2c3e50;
        position: fixed;
        right: -40px;
        top: 170px;
        padding: 20px 0;
        width: 100%;
        height: calc(100% - 400px);         /*alto del menu desplegable*/
        overflow-y: auto;               /*para que cuando necesite una barra de scroll (depen tamaño de pantalla) la agregue*/

        left: 100%;                    /*para que el menu desplegable este oculto es decir desplazado hacia la derecha*/
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 80px;
    } 
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color: none;
        color: #83c5f7;
        transition: .5s;
    }
    .nav-toggle{
        display: block;
        margin-top: 0px;
    }
    .nav-menu_visible{
        left: 0;
    }
}
@media (max-width: 660px){

    .imagen1{
        width: 90%;
    }
    .contenedor-seccion2 {
        display: block;
    }
    .texto1, .texto2{
        width: 100%;
        margin-bottom: 70px;
    }
}
@media (min-width: 1655px){
    .servicio2{
        padding-bottom: 80px;
    }
}