/* Reseteo de márgenes y padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Añadido para asegurar un cálculo más preciso del tamaño de los elementos */
}

body {
    background-color: #F3F4F6;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
a{
    text-decoration: none;
}
/*slider*/
.enlace{
    color: blue;
    margin-right: 10px;
}
.enlace:visited{
    color: blue;
}
.feed {
    width: 70%;
    height: auto;
    margin: 50px auto;
    background-color: #F3F4F6;
}

.blogImg{
    margin: 0 auto;
    /* border-radius: 10px; */
    width: 94%;
}

.img2{
    background-image: url('../assets/publicacion1024.png');
    background-position: center;
    overflow: hidden;
    width: 94%;
    max-width: 1024px;
    height: 600px;
}

.blogContent{
    text-align: left;
    padding: 3% 3% 0;
}

.footerofpublication{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}
.footerofpublication__time{
    color: #39393aa8;
    font-size: 1.1em;
    padding-right: 3%;
}
svg{
    flex-shrink: 0;
    display: block;
}


.contenido-completo {
    display: none;
}

.ver-mas {
    color: #39393aa8;
    cursor: pointer;
    font-weight: bold;
    border: none;
    background: none;
    padding: 0;
    margin-bottom: 10px;
}

.share-btn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
}

/* Estilo para el Modal */
.modal {
    display: none; /* Oculto por defecto */
    position: fixed; /* Fijo en la pantalla */
    z-index: 9999; /* Asegura que el modal esté sobre todo */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo translúcido */
    overflow: auto; /* Permite hacer scroll si es necesario */
    padding-top: 50px; /* Espacio desde la parte superior */
}

/* Contenido del Modal */
.modal-content {
    background-color: #fff;
    margin: 5% auto; /* Centrado en la pantalla */
    padding: 20px;
    border-radius: 10px;
    width: 25%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

/* Botón de Cerrar */
.close-btn {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Contenedor de los Iconos */
.social-icons {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    gap: 20px; /* Espacio entre iconos */
    justify-items: center; /* Centra los iconos */
    margin-top: 20px;
}

/* Estilo para cada icono */
.social-icons a {
    font-size: 30px;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.social-icons a:hover {
    background-color: #0078d4; /* Color de fondo al pasar el ratón */
    color: #fff;
}

/* ------------------------------------------------------------------------------ MODAL Slider-------------------- */
.slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    /* height: 600px; */
    /* background-size: cover; */
}



.image-layout {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 600px;
  gap: 10px;
  max-width: 1200px;
  margin: 0 auto;
  /* border: 1px solid black; */
}

.main-image {
  flex: 0 0 55%; /* 65% del ancho total */
  height: 100%;
  overflow: hidden;
  position: relative;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}

.side-images {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
}

.side-image {
  width: 100%;
  height: auto;
  flex: 1;
  position: relative;
  overflow: hidden;
}

.side-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;     /* ← Muestra la imagen completa sin recorte */
  object-position: center; /* ← Centra la imagen */
  border-radius: 6px;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
}


/* Alturas específicas para bloques laterales */
.side-image.top {
  height: 35%;

}


.side-image.middle {
  height: 35%;
}

.side-image.bottom {
  height: 30%;
}

/* -------------------- */
/* 📱 Responsivo móvil */
/* -------------------- */
@media (max-width: 768px) {
  .modal-content {
    max-width: 95vw;
    max-height: 80vh;
  }

  .close{
    font-size: 30px;
    padding: 10px;
  }

  .close {
    top: 10px;
    right: 15px;
  }
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.9);
  display: none; /* luego la clase .open lo cambia a flex */
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.modal.open {
  display: flex;
}

.modal-stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 100%;
}


.modal-content {
  max-width: 100vw;
  max-height: 95vh;
  object-fit: contain;
  width: auto;
  height: auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.8);
  border-radius: 8px;
}

.modal::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(5px);
  z-index: -1;
}


.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}


/* ------------------------------------------------------------------------  END MODAL Slider------------------------- */

/* Contenedor de la barra de navegación */
.containerNav {
    height: 100px;
    width: 100%;
    background-color: #ffffff;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

/* Estilo del menú de navegación */
/* Estilos base */
.container {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


a {
    text-decoration: none;
    color: black;
}

.img_header {
    margin-left: 20px;
    width: 225px;
    height: 100px;
    background-image: url(../assets/logoheader.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav {
    width: 100%;
    /* height: 80px;  Ajusta según lo que necesites para el nav */
    display: flex;
    justify-content: flex-end;  /* Mantén el nav alineado a la derecha */
    margin: 0 auto;
    position: relative; /* Necesario para posicionar el submenú correctamente */
    justify-content: space-between;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}
.nav-menu-wrapper {
  position: relative; /* Para que submenu se alinee respecto a esto */
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px; /* centrado verticalmente en el nav */
    text-transform: uppercase; /* para que todo quede en mayúscula */
    width: max-content; /* para que no se corte "About Us" */
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 3px;
    transition: .5s;
}

.nav-menu-link:hover {
    color: #0077b5;
}

/* El submenú único (aparece debajo del menú principal) */
.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background-color: rgba(240, 240, 240, .7);
  z-index: 10;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas, una por ítem */
  gap: 0; /* sin espacio entre columnas */
  padding: 20px 0;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: left;
  border-radius: 7px;
}

.submenu-column {
  padding: 0 10px;
  border-right: 1px solid #ccc; /* línea vertical */
}

.submenu-column:last-child {
  border-right: none; /* que la última no tenga línea a la derecha */
}

/* Asegura que las columnas dentro del submenu estén alineadas correctamente */
.submenu-column-left,
.submenu-column-right {
    padding: 0 20px;
}
/* .submenu-column{
    background-color: #f0f0f0;
} */

/* Estilos para cada columna del submenú */
.submenu-column h3 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.submenu-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.submenu-column li {
  margin: 5px 0;
}

.submenu-column a {
  color: rgb(20, 15, 15);
  text-decoration: none;
  display: block;
  padding: 8px 0;
  transition: color 0.3s ease;
}

.submenu-column a:hover {
  /* color: #0077b5; */
  background-color: #fff;
}

/* Mostrar el submenú cuando el mouse pasa por encima de cualquier ítem del nav */
.nav-menu-item:hover .submenu {
    display: grid;
}


.nav-toggle {
    color: black;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    cursor: pointer;
    display: none;
}

/* Estilos responsive */
/* 767px - 675px */
@media (max-width: 910px) {
    .img2{
        background-image: url('../assets/publicacion1.png');
        /* background-position: center; */
        /* background-repeat: no-repeat; */
        overflow: hidden;
        width: 94%;
        max-width: 1024px;
    }
}
    
@media (max-width: 768px) {
    .nav-menu {
        display: none;  /* Ocultamos el menú en móvil por defecto */
        flex-direction: column;
        width: 100%;
    }
    .nav-menu.show {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .nav-menu-item {
        width: 100%;
    }
    
    .nav-menu-item.active .submenu {
        display: block;  /* Solo mostramos el submenú cuando se activa */
    }
    
    /* El submenú será de una sola columna en móvil */
    .submenu {
        grid-template-columns: 1fr;
        padding: 10px 0;
    }
    .nav-toggle{
        display: block;
    }
    
    .nav-menu-wrapper.open .nav-menu {
        display: flex;
        flex-direction: column;
    }
    
    /* Activar el submenú en móvil */
    .nav-menu-item.has-submenu.active .submenu {
        display: block;
    }
    .img_header {
        width: 150px;
        height: 70px;
        background-size: contain;
    }
    .etiquetas {
        display: block; /* Mostramos las etiquetas */
        margin-left: 0; /* Alineamos al centro para pantallas grandes */
        font-size: 1.5rem; /* Ajustamos tamaño de fuente */
    }
    .img2{
        background-position: center;
        background-size: cover;
    }
}


/* Feed de publicaciones */


.publication{
    background-color: #ffffff;
    margin-bottom: 2%;
    padding-top: 30px;
}





.titleFeed {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 24px;
    color: #333333;
}

.subtitleFeed {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1.3;
    margin-bottom: 16px;
    color: #333333da;
}

.parrafoFeed {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 16px;
    color: #070707b6;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}

.reveal.active {
  opacity: 1;
  transform: none;
}

/* --- MEDIA QUERIES PARA HACER EL DISEÑO RESPONSIVO --- */


/* Para pantallas menores de 767px (smartphones y tablets en modo retrato) */
@media (max-width: 767px) {
    .etiquetas {
        display: none; /* Ocultamos las etiquetas en pantallas pequeñas */
    }

    .icon {
        width: 50vw; /* Icono mucho más pequeño en móviles */
        height: auto;
    }

    /* Ajustes en el feed */
    .feed {
        width: 95%; /* El feed ocupa todo el ancho posible */
    }

    .slider {
        width: 100%;
        height: 300px; /* Ajustamos la altura de las imágenes en móviles */
    }

    .titleFeed {
        font-size: 24px;
    }

    .subtitleFeed {
        font-size: 20px;
    }

    .parrafoFeed {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .blogImg{
        height: 400px;
    }
}

@media (max-width: 460px){
    .img2{
        background-size: cover;
    }
}
