*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(255, 255, 255);
    line-height: 1;
}
.container{
    font-family: 'Roboto', sans-serif;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: black;
}

.img_header{
    margin-left: 20px;
    width: 225px;
    height: 100px;
    background-image: url(../assets/logoheader.png);
    background-repeat: no-repeat;
}
.nav-menu{
    display: flex;
    margin-right: 70px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 20px;
    line-height: 100px;             /*centrado verticalmente en el nav*/
    text-transform: uppercase;      /*para que todo quede en mayuscula*/
    width: max-content;             /*para que cuando la pantalla es chica no me corte el about us (esta compuesto por dos palabras, entonces las corta)*/
}

.nav-menu-link:hover{
    color: #0077b5;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 200px;
    cursor: pointer;
    display: none;              /*para que cuando este en la version destok no aparezca*/
}


/*---------------------------------------------------------------------------about-------------------------------------------------------------------------*/
.medio{
    width: 100%;
    height: 1000px;
    margin-bottom: 150px;
}

.medio .img-about{
    position: relative;
    margin: auto;
    width: 100%;
    height: 1000px;
    background-image: url(../assets/fondoAbout1.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.img-about::before{
    content: '';
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    /* background: linear-gradient(to top, rgba(0,0,0,0.4), rgba(0,0,0,0)); */
    z-index: 1;
}
.txt-about{
    position: absolute;
    top: 55%;
    left: 25%;
    width: 40%;
    height: auto;
    transform: translate(-50%, -50%); /* para centrar completamente */
    /* background-color: rgba(0, 0, 0, 0.5);  */
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6);
    z-index: 2;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px); /* para Safari */
    padding: 1rem;
}

.txt-about p{
    margin-bottom: 35px;
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem;        /* ≈ 20px */
    line-height: 1.6;          /* buena separación entre líneas */
    color: #ffffff;            /* blanco puro para contraste */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* mejora legibilidad sin fondo */
    font-weight: 400;          /* no muy fino, no muy grueso */
    max-width: 80%;            /* para que no se extienda demasiado */
    text-align: left;        /* opcional según diseño */
}

/*----------------------------------------------------------------------seccion attachment------------------------------------------------------------------------------*/

.contacto {
    /* max-width: 800px; */
    margin: 4rem auto;
    padding: 2rem;
    font-family: 'Inter', sans-serif;
    text-align: left;
  }
  .container_contacto{
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }

  .contacto h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .contact_medio {
    margin-bottom: 2rem;
    width: 25%;
    padding-right: 30px;
  }
  
  .contact_medio h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }
  
  .contact_medio p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  .contact_medio a {
    color: #0077b5; /* Azul LinkedIn o puedes usar #0056d2 para mail/teléfono */
    text-decoration: none;
  }
  
  .contact_medio a:hover {
    text-decoration: underline;
  }
  
/*--------------------------------------------------------------------------FOOTER----------------------------------------------------------------------------------------*/
  
.carousel {
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
    display: flex;
    > * {
      flex: 0 0 100%;
    }
    &:hover .group {
      animation-play-state: paused;
    }
  }
  
  .card {
    width: 100%;
    height: 200px;
    display: flex;  /* Usar flexbox en lugar de solo text-align */
    justify-content: center;  /* Centra la imagen horizontalmente */
    align-items: center;      /* Centra la imagen verticalmente */
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    text-align: center;
    min-height: 200px;
    overflow: hidden;  /* Asegura que el contenido no se desborde */
  }
  

  
  .group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scrolling 10s linear infinite;
  }
  
  @keyframes scrolling {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  

  footer{
    background-color: black;
    height: 30px;
  }
  .copy{
    width: 100%;
    height: auto;
    color: white;
    text-align: center;
    line-height: 30px;
  }

/*--------------------------------------------------------------------ESTERILIZANDO------------------------------------------------------------------------*/


/*--------------------------------------------header*-----------------------------------------------*/
@media (max-width: 768px){
    .nav-menu{
        z-index: 7;
        flex-direction: column;             /*un elemento encima del otro*/
        align-items: center;
        margin-right: 40px;
        background-color: #2c3e50;
        position: fixed;
        right: -40px;
        top: 170px;
        padding: 20px 0;
        width: 100%;
        height: calc(100% - 400px);         /*alto del menu desplegable*/
        overflow-y: auto;               /*para que cuando necesite una barra de scroll (depen tamaño de pantalla) la agregue*/

        left: 100%;                    /*para que el menu desplegable este oculto es decir desplazado hacia la derecha*/
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 80px;
    } 
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color: none;
        color: #83c5f7;
        transition: .5s;
    }
    .nav-toggle{
        display: block;
        margin-top: 0px;
    }
    .nav-menu_visible{
        left: 0;
    }
}

@media (max-width: 249px){
    .container .wave{
        width: 0%;
    }
}
@media (min-width: 250px){
    .container .wave{
        margin-top: 537px;
    }
    .cont-boton{
        height: auto;
    }
}

@media (min-width: 320px){

    .cont-boton{
        margin-top: 30px;
    }
}

@media (min-width: 700px){
    .container .wave{
        margin-top: 418px;
    }
}

@media (max-width: 767px){

    .medio{
        height: auto;
    }
    section .container-about{
        display: block;
        height: auto;
        margin: auto;
    }
    .container-about .img-about{
        width: 0;
        height: 0;
        background-image: none;
        border: none;
    }
    .pie-pagina{
        margin-top: 100px;
    }

}

@media (min-width: 950px){
    .container .wave{
        margin-top: 354px;
    }
}
@media (min-width: 1200px){
    .container .wave{
        margin-top: 287px;
    }
}

@media (min-width: 1200px){
    .cont-boton{
        margin-top: 0;
        height: 75%;
    }
}

@media (min-width: 1600px){
    .container .wave{
        margin-top: 178px;
    }
}

@media (min-width: 2000px){
    .container .wave{
        margin-top: 75px;
    }
}
@media (min-width: 2400px){
    .container .wave{
        margin-top: -27px;
    }
}