*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: rgb(242, 242, 242);
    line-height: 1;
}
.container{
    font-family: 'Roboto', sans-serif;
    height: 600px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
header .fondo{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(10,10,10,0.1),
    rgba(10,10,10,0.1)),
    url(../images/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    width: 100%;
    height: auto;
    position: absolute;
    top: -15px;
    left: 0;
    display: flex;
    justify-content: space-between;
}
.logo img{
    padding-top: 20px;
    height: 200px;
}
.nav-link{
    color: white;
    text-decoration: none;
}

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 18px;
    margin: 0 10px;
    line-height: 100px;             /*centrado verticalmente en el nav*/
    text-transform: uppercase;      /*para que todo quede en mayuscula*/
    width: max-content;             /*para que cuando la pantalla es chica no me corte el about us (esta compuesto por dos palabras, entonces las corta)*/
}

.nav-menu-link{
    padding: 8px 12px;
    border-radius: 3px;
    transition: .5s;
}

.nav-menu-link:hover{
    background-color: #034574;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 200px;
    cursor: pointer;
    display: none;              /*para que cuando este en la version destok no aparezca*/
}
.container .wave{
    position: absolute;
    width: 100%;
    height: 0px;
    margin-top: 324px;
}

/*---------------------------------------------------------------------------about-------------------------------------------------------------------------*/
.medio{
    padding-top: 50px;
    padding-bottom: 100px;
    width: 100%;
    height: 900px;
}

section .container-about{
    width: 80%;
    height: 100%;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin: auto;
}

.container-about .img-about{
    width: auto;
    height: auto;
    background-image: url(../images/img-about.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid blue;
    border-radius: 15px;

}

.txt-about h2{
    font-size: 22px;
    color: rgba(11, 11, 175, 0.849);
    background: transparent;
    font-weight: 600;
    font-family: 'Arimo',Helvetica,Arial,Lucida,sans-serif;
    padding-bottom: 20px;
    line-height: 2em;

}
.txt-about p{
    margin-bottom: 15px;
    color: #666;
    text-align: justify;
    background: transparent;
    line-height: 1.7em;
    font-weight: 500;
}

/*----------------------------------------------------------------------seccion attachment------------------------------------------------------------------------------*/

.attachment{
    width: 100%;
    height: auto;
}

.cont-img{
    z-index: 1;
    width: 100%;
    height: auto;
    top: 0;
    background-color: rgb(128, 156, 147);
    background-image: url(../images/fondo1.jpg);
    background-position: center center;
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;

}
.contenido{
    height: 400px;
}

.contenido h2{
    padding-bottom: 5px;
    padding-top: 20px;
    color: white;
    font-size: 1.8em;
    text-align: center;
}
.contenido h3{
    color: rgb(218, 218, 218);
    font-size: 1.5em;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
}

.cont-boton{
    width: 100%;
    height: 75%;
    display: grid;
    place-items: center;
}
.contenido button{
    color: white;
    background-color:rgb(17, 17, 231);
    width: 150px;
    height: 50px;
    cursor: pointer;
}
/*--------------------------------------------------------------------------FOOTER----------------------------------------------------------------------------------------*/

footer{
    height: auto;
    width: 100%;
    max-width: 1800px;
    background-color: #fff;
    margin: 100px auto 0;
    background-color: rgba(189, 195, 199, 0.2);
}

#content_footer{
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: auto auto 8%;
}
.grid-item:nth-child(1){
    grid-template-columns: 50% 50%;
    grid-template-areas: 'contact about';
    display: grid;
    background-color: #7e7d7d;
}

/*sub grid*/
.grid-item:nth-child(2){
    display: grid;
    grid-template-areas: 'img1 img2 img3'
                         'img4 img5 img6';
    grid-template-rows: auto auto;
    grid-template-columns: 33.333% 33.333% 33.333%;
    /*border: 1px solid black;*/
}

.c1{
    grid-area: contact;
    /*border-right: 2px solid rgb(255, 255, 255);*/
}
.c2{
   grid-area: about;
   /*border-right: 2px solid rgb(255, 255, 255);*/
   padding-right: 110px;
}
.sub_caja4{ 
    text-align: center;
    align-self: center;
    border-radius: 10px;
    margin: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.19), 0 2px 6px 0 rgba(0, 0, 0, 0.19);
}

/*.img_zoom:hover{
    transform: scale(1.5);
}*/

 .c5{
     background-color: white;
 }*/
.c4_1{
    grid-area: img1;
}
.c4_2{
    grid-area: img2;   
}
.c4_3{
    grid-area: img3;   
}
.c4_4{
    grid-area: img4;
}
.c4_5{
    grid-area: img5;
}
.c4_6{
    grid-area: img6;
}
.c6{
    grid-area: copy;
    line-height: 40px;
    text-align: center;
    background-color: #0a1a2a;
    color: #fff;
}

a{
    text-decoration: none
}
.caja a{
    padding: 0 15px;
}
.caja small{
    font-size: 15px;
}
.caja h2{
    color: rgba(32, 32, 164, 0.8);
    margin: 40px 0 15px 0;
    font-size: 20px;
    font-family: sans-serif;
    padding: 0 15px;
    line-height: 1.25em;
}
.caja p{
    color: white;
    margin-bottom: 10px;
    padding: 0 10px 10px;
    line-height: 1.2;
}

.caja h3{
    color: #efefef;
    margin-bottom: 10px;
    padding: 0 10px;
}
.c1 input{
    margin-bottom: 20px;
    margin-left: 5px;
    /*background-color: white;*/
    background-color: lightgray;
    color: black;
    padding-left: 5px;
    line-height: 17px;
    border: 1px solid black;
    width: 60%;
}
.c1 .btn_copy{
    background-color: white;
}

/*-----------ESTERELIZANDO footer-----------------*/

@media (max-width: 860px){
    .grid-item:nth-child(2){
        grid-template-areas: 'img1 img2'
                             'img3 img4'
                             'img5 img6';
        grid-template-columns: 50% 50%;
    }
}

@media (max-width: 560px){
    #content_footer{
        display: block;
    }
    .grid-item:nth-child(1){
        display: block
    }
    .grid-item:nth-child(2){
        display: block
    }
    .c1 a{
        padding: 0 15px;
    }
    .c4_4, .c4_5{
        margin-bottom: 20px;
    }
}
@media (max-width: 700px){
    .c2{
        padding-right: 10px;
    }
}
/*--------------------------------------------------------------------ESTERILIZANDO------------------------------------------------------------------------*/


/*--------------------------------------------header*-----------------------------------------------*/
@media (max-width: 768px){
    .nav-menu{
        z-index: 7;
        flex-direction: column;             /*un elemento encima del otro*/
        align-items: center;
        margin-right: 40px;
        background-color: #2c3e50;
        position: fixed;
        right: -40px;
        top: 170px;
        padding: 20px 0;
        width: 100%;
        height: calc(100% - 400px);         /*alto del menu desplegable*/
        overflow-y: auto;               /*para que cuando necesite una barra de scroll (depen tamaño de pantalla) la agregue*/

        left: 100%;                    /*para que el menu desplegable este oculto es decir desplazado hacia la derecha*/
        transition: left 0.3s;
    }
    .nav-menu-item{
        line-height: 80px;
    } 
    .nav-menu-link:hover,
    .nav-menu-link_active{
        background-color: none;
        color: #83c5f7;
        transition: .5s;
    }
    .nav-toggle{
        display: block;
        margin-top: 0px;
    }
    .nav-menu_visible{
        left: 0;
    }
}

@media (max-width: 249px){
    .container .wave{
        width: 0%;
    }
}
@media (min-width: 250px){
    .container .wave{
        margin-top: 537px;
    }
    .cont-boton{
        height: auto;
    }
}

@media (min-width: 320px){

    .cont-boton{
        margin-top: 30px;
    }
}

@media (min-width: 700px){
    .container .wave{
        margin-top: 418px;
    }
}

@media (max-width: 767px){

    .medio{
        height: auto;
    }
    section .container-about{
        display: block;
        height: auto;
        margin: auto;
    }
    .container-about .img-about{
        width: 0;
        height: 0;
        background-image: none;
        border: none;
    }
    .pie-pagina{
        margin-top: 100px;
    }

}

@media (min-width: 950px){
    .container .wave{
        margin-top: 354px;
    }
}
@media (min-width: 1200px){
    .container .wave{
        margin-top: 287px;
    }
}

@media (min-width: 1200px){
    .cont-boton{
        margin-top: 0;
        height: 75%;
    }
}

@media (min-width: 1600px){
    .container .wave{
        margin-top: 178px;
    }
}

@media (min-width: 2000px){
    .container .wave{
        margin-top: 75px;
    }
}
@media (min-width: 2400px){
    .container .wave{
        margin-top: -27px;
    }
}